<a href="https://colab.research.google.com/github/jugernaut/ManejoDatos/blob/desarrollo/Bases_de_Datos/03_Manejadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="Teal" face="Comic Sans MS,arial">
  <h1 align="center"><i>Manejadores</i></h1>
  </font>
  <font color="Black" face="Comic Sans MS,arial">
  <h5 align="center"><i>Profesor: M. en C. Miguel Angel Pérez León</i></h5>
    <h5 align="center"><i>Ayudante: Jesús Iván Coss Calderón</i></h5>
    <h5 align="center"><i>Ayudante: Jonathan Ramírez Montes</i></h5>
  <h5 align="center"><i>Materia: Manejo de Datos</i></h5>
  </font>

# Introducción

Dado lo ya mencionado en secciones pasadas, la importancia de las bases de datos debe ser clara para este momento.

Un manejador de bases de datos es un programa (algoritmo) que nos permite acceder a los datos de manera eficiente, organizada y sobretodo que no viola las restricciones mencionadas para el modelo relacional.

Para lograr esta eficiencia, un manejador de datos emplea **algoritmos de búsqueda, algoritmos de ordenamientos, arboles de decisión, expresiones regulares, tablas de dispersión**, entre otros.

En la actualidad existen muchos manejadores de bases de datos (incluso algunos no-relacionales). Existen desde los más básicos, hasta los más completos, la elección del manejador de base de datos depende del contexto para el que se vaya a usar, es decir: recursos, seguridad, desempeño, presupuesto, etc.

La gran mayoría de las aplicaciones actualmente funcionan mediante la arquitectura **cliente-servidor**, la cual nos dice que una parte de la aplicación se hospeda en un servidor y la otra parte en un cliente y normalmente la base de datos se almacena en otro (o a veces el mismo) servidor.

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/base.jpg?raw=1" width="600"> 
</center>

# SQL

Del ingles *Structured Query Language* (SQL), es el lenguaje que nos permite interactuar con el manejador de bases de datos para acceder a los datos almacenados. Sus principales características son: 

* Primer lenguaje en incorporar el modelo relacional para llevar a cabo consultas a los datos almacenados.
* Es un lenguaje libre y de dominio especifico, lo que significa que no es necesario pagar una licencia para poder hacer uso de este.
* Esta diseñado para incorporar los conceptos de calculo y álgebra relacional para llevar a cabo las consultas a la base de datos.
* SQL pasó a ser el estándar del Instituto Nacional Estadounidense de Estándares (ANSI) en 1986 y de la Organización Internacional de Normalización (ISO) en 1987.

# *MySQL*

MySQL es el manejador de bases de datos que se utilizará a lo largo del curso, se caracteriza por:

* Es un manejador de bases de datos relacional.
* Manejador de código abierto, es decir que cualquiera puede descargar el código fuente.
* A la par de *Oracle, Microsoft SQL Server, MySQL* es de los manejadores mas populares para el desarrollo web.
* Permite crear y **administrar usuarios** para el acceso a los datos dentro de la base.

## Comandos 

Los principales comandos que se utilizan en *MySQL* se muestran a continuación: 

* `CREATE`: permite crear usuarios, bases de datos, tablas, restricciones, etc.
* `INSERT`: mediante este comando se insertan valores dentro de una base de datos.
* `UPDATE`: comando que nos permite actualizar la información dentro de la base de datos.
* `DROP`: este comando es usado para eliminar desde tabla, hasta una base de datos completa.
* `SELECT`: permite seleccionar un conjunto de datos (es el equivalente a la proyección).
* `WHERE`: más que un comando es una clausula, que en combinación con `SELECT`, permite seleccionar solo los datos que cumplan con un determinado criterio.

Dado que *MySQL* es un manejador de bases de datos, esto significa que además de permitirnos crear la base de datos y manipular los mismo cuenta con un **sistema de usuarios y privilegios** que permite administrar el acceso a la información, para mayor información al respecto revisar el siguiente [enlace](https://dev.mysql.com/doc/refman/8.0/en/database-use.html).

## Ejemplo

En esta sección vamos a ver un poco de la labor que corresponde al diseñador de la base de datos (arquitecto), esta labor escapa un poco a los temas del curso, sin embargo es buena idea conocer como es que construye el **esquema** (*schema*) de la base de datos.

Es importante mencionar que el acceso a los comandos que proporciona *MySQL* **depende de los privilegios que tenga el usuario en cuestión**. Por ejemplo un usuario que solo tenga privilegios para cosultar datos en una determinada base de datos no puede crear tablas dentro de la misma.

Este sistema de privilegios tiene la intención de delegar solo los privilegios pertinentes al usuario, para cumplir la labor que le fue asignada a este usuario.

En el caso del ejemplo que hemos usado en clase, el usuario *manejo*, unicamente tiene acceso la base *FCiencias* y dentro de la misma únicamente tiene privilegios par ejecutar el comando `SELECT`.

Para mostrar como usar los comandos más comunes al crear un esquema, tomemos el siguiente modelo relacional.

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/comandos.png?raw=1" width="800"> 
</center>

### `CREATE`

De acuerdo a las restricciones de integridad, para poder crear el esquema de la imagen, es necesario primero crear la tabla **ESPECIALIDADES**, ya que la misma es referenciada (llave foranea) por la tabla **TUTORES**. Para crear la tabla **ESPECIALIDAES** hacemos uso del comando `CREATE`.

`CREATE TABLE ESPECIALIDADES (id_especialidad INT AUTO_INCREMENT PRIMARY KEY, nombre_especialidad CHAR(40) NOT NULL);`

La semántica de este comando indica que la tabla **ESPECIALIDADES** tiene 2 atributos llamados **id_especialidad** y **nombre_especialidad**, el primero es de tipo `int` y es llave primaria y el segundo es de tipo `varchar`.

La siguiente tabla que podemos crear es la tabla de **TUTORES**.

`CREATE TABLE TUTORES (id_tutor INT AUTO_INCREMENT PRIMARY KEY, nombre_tutor CHAR(40), id_especialidad INT NOT NULL, 
INDEX (id_especialidad), FOREIGN KEY (id_especialidad) REFERENCES ESPECIALIDADES(id_especialidad));`

De manera similar esta tabla contiene los atributos **id_tutor** (que es llave primaria), **nombre_tutor** e **id_especialidad** que es llave foránea y hace referencia a la tabla **ESPECIALIDADES**.

La tabla ALUMNOS, se crea mediante la siguiente instrucción.

`CREATE TABLE ALUMNOS (num_cuenta INT AUTO_INCREMENT PRIMARY KEY, nombre VARCHAR(30));`

Y por último creamos la tabla **TUTORIAS** que se diferencía un poco de las tablas anteriores ya que almacena la relación que guardan las tablas **ALUMNOS** y **TUTORES**, ademas de que consta de una llave primaria compuesta conformada por los atributos **id_tutoria**, **num_cuenta** y **id_tutor**.

`CREATE TABLE TUTORIAS (id_tutoria INT AUTO_INCREMENT, num_cuenta INT NOT NULL, id_tutor INT NOT NULL, 
PRIMARY KEY(id_tutoria, num_cuenta, id_tutor),
INDEX (num_cuenta), FOREIGN KEY (num_cuenta) REFERENCES ALUMNOS(num_cuenta),
INDEX (id_tutor), FOREIGN KEY (id_tutor) REFERENCES TUTORES(id_tutor));`

### `INSERT`

Una vez que las ya fue creado el esquema, podemos comenzar a llenar las tablas con los datos necesarios.

A continuación se insertan los datos que debe contener la tabla **ESPECIALIDADES**.

`INSERT INTO ESPECIALIDADES (nombre_especialidad) VALUES ('actuaria'),('ciencias de la computacion'),('matematicas'),('fisica'),('biologia'),('ciencia de datos');`

Para la tabla **TUTORES**, estos son los datos que se ingresan en la misma. Es importante notar que el atributo **id_especialidad**, es una llave foránea.

`INSERT INTO TUTORES (nombre_tutor, id_especialidad) VALUES ('Mario Molina', 1),('Miguel de Icaza', 2),('Isaac Newton', 3),('Albert Einstein', 4),('Charles Darwin', 5),('Mark Musk', 6);`

Y para el caso de ALUMNOS y TUTORIAS estos son lo datos

`INSERT INTO ALUMNOS (nombre) VALUES ('Mike'),('Pedro'),('Peter'),('Almendra'),('Alvaro'), ('Canek'),
('Sonia'),('Arturo'),('Gisel'),('Alfa');`

`INSERT INTO TUTORIAS (num_cuenta, id_tutor) VALUES (1,6),(2,2),(3,1),(4,5),(5,3),(6,6),(7,2),(8,6),(9,5),(10,3);`

En el caso de las **TUTORIAS**, es de recalcar que ambos atributos **num_cuenta** y **id_tutor** son llaves foráneas que a su vez forman parte de la llave compuesta **(id_tutoria, num_cuenta, id_tutor)**.

En todas estas tablas **la llave primaria se genera de manera automática** al momento de insertar cada elemento, pero no siempre debe ser así.

### Autenticación de usuario

Una vez que los datos ya se almacenaron en la base de datos, lo siguiente es autenticarse en la base y seleccionar la base de datos correcta, para ello lo primero que necesitamos es conocer la dirección del servidor y las credenciales de acceso al mismo.

Haciendo uso del cliente de *MySQL*, proporcionamos estos datos así.

`mysql -u manejo -p -h hpc-matematicas-z.fciencias.unam.mx`

Se nos pide la contraseña (*prometeo*) y lo siguiente es seleccionar la base *FCiencias*, mediante el siguiente comando de *MySQL*.

`use FCiencias;`

Ya que seleccionamos la base *FCiencias*, ahora podemos listar las tablas que contiene la misma mediante el siguiente comando.

`show tables;`

Y el resultado debe ser algo similar a lo que se muestra en la siguiente imagen.

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/tables.png?raw=1" width="600"> 
</center>

### `SELECT` (consultas)

Una vez que ya nos autenticamos y seleccionamos la base de datos, ahora podemos realizar consultas (*querys*) a la información contenida dentro de la misma.

Para conocer todos lo registros de la tabla **ALUMNOS**, basta con ejecutar la siguiente consulta.

`select * from ALUMNOS;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/ALUMNOS.png?raw=1" width="600"> 
</center>

#### Producto cartesiano

Para realizar un producto cartesiano (como los vistos en álgebra relacional) es necesario ejecutar el siguiente comando.

`select * from ALUMNOS, TUTORES;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/cartesiano.png?raw=1" width="600"> 
</center>

#### `NATURAL JOIN`

La tabla TUTORES contiene la siguiente información.

`select * from TUTORES;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/tutores.png?raw=1" width="600"> 
</center>

De la imagen (y del DER) podemos notar que el atributo **id_especialidad** es una llave foránea al catalogo de **ESPECIALIDADES**, por lo que, con un simple `NATURAL JOIN` podemos obtener información más tangible.

`select id_tutor, nombre_tutor, nombre_especialidad from TUTORES natural join ESPECIALIDADES;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/njoin1.png?raw=1" width="800"> 
</center>

La tabla TUTORIAS es una relación que esta compuesta por elementos de la tabla ALUMNOS y de la tabla TUTORES, así que la información en la misma luce de la siguiente manera

`select * from TUTORIAS;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/tutorias.png?raw=1" width="600"> 
</center>

Estos valores no dicen mucho de la información, sin embargo podemos realizar un NATURAL JOIN con las tablas adecuadas para obtener la información deseada.

`select id_tutoria, num_cuenta, nombre, nombre_tutor from TUTORIAS natural join ALUMNOS natural join TUTORES;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/njoin2.png?raw=1" width="800"> 
</center>

Ahora ya obtubimos de manera más clara el **nombre del tutor de cada alumno**, así como su número de cuenta.

#### Fuciones de agregación

Para poder contar el número de alumnos es tan sencillo como ejecutar el siguiente comando.

`select count(*) from ALUMNOS;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/COUNT.png?raw=1" width="600"> 
</center>

Supongamos que deseamos ver a todos los alumnos con su respectivo tutor, el nombre de la especialidad y además los **queremos ver ordenados (*order by*) por el atributo id_especialidad**.

`select id_tutoria, num_cuenta, nombre, nombre_tutor, id_especialidad from TUTORIAS natural join ALUMNOS natural join TUTORES order by id_especialidad;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/orderby.png?raw=1" width="800"> 
</center>

Dado que podemos anidar consultas y todo resultado es una tabla, podemos realizar lo siguiente. Imaginemos que **necesitamos agrupar (*group by*) a los alumnos por especialidad y saber la cantidad de alumnos que pertenecen a una determinada especialidad**, esto lo podemos saber mediante realizando esta consulta.

`select nombre_especialidad, id_especialidad, count(id_especialidad) from TUTORIAS natural join TUTORES natural join ESPECIALIDADES group by id_especialidad;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/groupby.png?raw=1" width="1000"> 
</center>

En caso de que necesitemos **renombrar (*as*)** columna que indica el número de alumnos por especialidad, ejecutamos la siguiente consulta.

`select nombre_especialidad, id_especialidad, count(id_especialidad) as cuantos from TUTORIAS natural join TUTORES natural join ESPECIALIDADES group by id_especialidad;`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/groupas.png?raw=1" width="1000"> 
</center>

#### Resultados temporales

Conforme vamos obteniendo más información dentro de la base de datos, a veces es necesario generar resultados temporales (*temporary table*) ya sea por que **vamos a consultar esa información constantemente** (mientras la sesión este abierta) o debido a que las consultas se pueden volver muy complejas.

Imaginemos que nos piden **identificar el nombre de la especialidad que cuenta con el máximo número de alumnos inscritos**. De acuerdo al *DER* esta información se encuentra en diferentes tablas, además necesitaremos hacer uso de la función de agregación *max*.

Así que lo ideal es **partir esta consulta en consultas más sencillas** y atómicas.

Primero vamos a generar una consulta que contenga a todos los alumnos con su respectivo tutor y el nombre de la especialidad. De acuerdo al DER, esta información se encuentra en las tablas ALUMNOS, TUTORIAS, TUTORES y ESPECIALIDADES.

De tal manera que de una vez podemos proyectar únicamente los datos que vamos a necesitar, además de **generar una tabla temporal llamada TEMP (*create temporary table TEMP as*)**, mediante el siguiente comando.

`create temporary table TEMP as select nombre_especialidad, id_especialidad, count(id_especialidad) as cuantos from TUTORIAS natural join TUTORES natural join ESPECIALIDADES group by id_especialidad;`

El resultado de esta sentencia y de consultar todos los datos contenidos en **TEMP**, sería el siguiente.

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/temp.png?raw=1" width="1000"> 
</center>

Ahora únicamente resta usar la función de agregación *max* sobre el atributo *cuantos* de la tabla temporal TEMP para saber cual es la especialidad con el máximo número de alumnos inscritos y ademas la podemos guardar en una variable temporal mediante el siguiente comando.

`set @maximo = (select max(cuantos) from TEMP);`

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/max.png?raw=1" width="1000"> 
</center>

Y por último solo hay que consultar la tabla TEMP indicando que necesitamos mostrar el máximo valor de la columna **cuantos**.

`select nombre_especialidad, cuantos from TEMP where cuantos = @maximo;`

El resultado de esta consulta es precisamente la información que necesitabamos conocer.

<center>
<img src="https://github.com/jugernaut/ManejoDatos/blob/desarrollo/Imagenes/Bases/consultota.png?raw=1" width="1000"> 
</center>

# Conexión desde *Python*

Hasta este momento hemos usado *MySQL*, a nivel usuario es decir, hemos realizado las consultas a la base de datos directamente con el manejador de la base de datos.

Sin embargo la mayoría de las aplicaciones o programas realizan estas consultas desde un lenguaje de alto nivel (como lo es *Python*), para llevar a cabo esta labor son necesarios tres elementos:

*   **La base de datos en un servidor**: para poder acceder desde cualquier punto de la red (internet) a nuestra base de datos, es necesario ubicar esta base de datos en un servidor que cuente con una *IP* publica y las respectivas credenciales (usuario, contraseña, puerto).
*   **Conector**: el conector es una paquetería (*API*) que nos perite indicarle al lenguaje (en este caso *Python*), que vamos a establecer una conexión con la base de datos.
*   **Algoritmo**: finalmente necesitamos el código que nos permita acceder y manipular los datos de la base de datos desde el lenguaje de alto nivel.

## Base de datos y servidor

Como ya se ha mencionado en clase, la base de datos para el curso se encuentra en un servidor de la facultad, mismo que cuenta con una *IP* qpública que permite establecer la conexión a la base de datos desde cualquier computadora, en particular desde una sesión de *Google Colab*.

Para este ejemplo vamos a usar el servidor *hpc-matematicas-z.fciencias.unam.mx* cuya *IP* pública es *132.248.181.125* y la base de datos *FCiencias*, el usuario *manejo* y la contraseña *prometeo*. Vale la pena mencionar que se esta haciendo uso del **puerto por default** que usa *MySQL*, que es 3306.

## Conector

Existen distintos "conectores" mediante los cuales podemos establecer la conexión con la base de datos, sin embargo para este ejemplo vamos a instalar el conector oficial de *MySQL*, [aqui](https://dev.mysql.com/doc/connector-python/en/connector-python-introduction.html) puedes encontrar más información al respecto.

Para instalar el conector en *Google Colab*, es tan sencillo como hacer uso del gestor de instalación de *Python* (*pip*) ejecutando la siguiente celda. Una vez instalado el conector ya podemos usarlo desde cualquier celda de código.

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp37-cp37m-manylinux1_x86_64.whl (37.6 MB)
     |████████████████████████████████| 37.6 MB 55.9 MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.28

## Conexión básica

En la siguiente celda se importa en conector para poder hacer uso del mismo, posteriormente se establece la conexión al servidor de la base de datos.

El objeto `cursor` es un elemento que nos permite ejecutar consultas (altas, bajas, cambios) a la base de datos.

La cadena `consulta` es un *String* que representa la consulta que se le pedira ejecutar al `cursor`, mismo que ya establecio la conexión a la base de datos. En este [enlace](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor.html) puedes leer más sobre la clase `cursor`

Al momento de ejecutar el método `execute` es necesario pasar como parametro la consulta que se quiera realizar, además es opcional el paso de parámetros extra que puedan ayudar a refinar la consulta, [aquí](https://dev.mysql.com/doc/connector-python/en/connector-python-api-mysqlcursor-execute.html) puedes ver la documentación del método `execute`.

Después de haber ejecutado el método `execute` el objeto `cursor` almacena los resultados de la consulta y dado que el objeto `cursor` es *iterable* lo podemos recorrer con un simple *for* (foreach) e imprimir las tuplas resultado de la consulta a la base de datos.

Finalmente, una vez que se haya terminado de realizar las consultas a la base de datos, **es muy importante** cerrar el `cursor` y la conexión a la base de datos, de otra forma la conexión queda abierta y alguien con el conocimiento adecuado puede hacer uso incorrecto de la misma.

In [ ]:
# se importa la biblioteca necesaria
import mysql.connector

# asignamos las credenciales de conexion y se establece la conexion
con = mysql.connector.connect(host="hpc-matematicas-z.fciencias.unam.mx",    
   user="manejo", 
   password="prometeo",
   database="FCiencias")

# obtenemos un cursor para realizar consultas
cursor = con.cursor()

# consulta en forma de cadena
#consulta = ('SELECT * FROM ALUMNOS')

consulta = ('SELECT num_cuenta, nombre, nombre_tutor, nombre_especialidad '
'FROM TUTORIAS natural join ALUMNOS natural join TUTORES natural join '
'ESPECIALIDADES')

# ejecucion de la consulta a la base de datos
cursor.execute(consulta)

# se itera sobre el objeto cursor
for tupla in cursor:
  print(tupla)

# se cierra el cursor y la conexion
cursor.close()
con.close()

(3, 'Peter', 'Mario Molina', 'actuaria')
(2, 'Pedro', 'Miguel de Icaza', 'ciencias de la computacion')
(7, 'Sonia', 'Miguel de Icaza', 'ciencias de la computacion')
(5, 'Alvaro', 'Isaac Newton', 'matematicas')
(10, 'Alfa', 'Isaac Newton', 'matematicas')
(4, 'Almendra', 'Charles Darwin', 'biologia')
(9, 'Gisel', 'Charles Darwin', 'biologia')
(1, 'Mike', 'Mark Musk', 'ciencia de datos')
(6, 'Canek', 'Mark Musk', 'ciencia de datos')
(8, 'Arturo', 'Mark Musk', 'ciencia de datos')

## *GUI (Graphic User Interface)*

Ya que entendimos como se establece la conexión a la base de datos, veamos una de muchas formas en las cuales podemos hacer uso de los mismos.

Supongamos que se requiere crear un programa que permita mostrar los alumnos registrados en nuestra base de datos y dependiendo del alumno que seleccione el usuario, entonces se muestre el nombre de su tutor y la especialidad del mismo.

Para llevar a cabo esta labor vamos a hacer uso de un `widget` que le permita al usuario seleccionar el nombre del alumno y posteriormente a la seleccion del mismo, se muestren los datos del tutor.

A fin de mostrar los resultados y dado que la sesión que estamos usando es temporal, omitiremos el cerrar el `cursor`  y la conexión pero no olviden que es importante cerrar ambos.

In [4]:
import mysql.connector
from ipywidgets import interact, interactive, fixed
import ipywidgets as widgets

con = mysql.connector.connect(host="hpc-matematicas-z.fciencias.unam.mx",    
   user="manejo", 
   password="prometeo",
   database="FCiencias")

cursor = con.cursor()

def consulta_alumnos():
  consulta = ('SELECT nombre FROM ALUMNOS')
  cursor.execute(consulta)
  nombre_alumnos = []
  for nombre in cursor:
    nombre_alumnos.append(nombre[0])
  return nombre_alumnos

def consulta_tutor(alumno):
  consulta = ('SELECT nombre, nombre_tutor, nombre_especialidad '
  'FROM TUTORIAS natural join ALUMNOS natural join TUTORES natural join '
  'ESPECIALIDADES WHERE nombre = %s')
  cursor.execute(consulta, (alumno,))
  for tupla in cursor:
    print(tupla)

w = interact(consulta_tutor, alumno = consulta_alumnos())

interactive(children=(Dropdown(description='alumno', options=('Mike', 'Pedro', 'Peter', 'Almendra', 'Alvaro', …

# Referencias

* Greg Riccardi: Principles of Database Systems with Internet an Java Aplications.
* Referencias  Anexo: Algebra relacional, https://www.unirioja.es/cu/arjaime/Temas/04.Anexo.pdf
* Referencias  https://www.w3schools.com/sql/
* Referencias  http://mysql.conclase.net/curso/?cap=000#
* Referencias  http://didepa.uaemex.mx/clases/Manuales/MySql/MySql-La%20biblia%20de%20mysql.pdf
* Referencias  https://downloads.mysql.com/docs/refman-5.0-es.pdf